.card__order {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 12px rgba($color: #000000, $alpha: .05);

    .card__order-heading {
        flex: 0 1 auto;
        padding-right: 12px;
    }

    .card__order-icon-wrap {
        position: relative;
        background-color: $color-primary;
        height: 50px;
        width: 50px;
        border-radius: 4px;

        .card__order-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 21px;
            color: #FFFFFF;
        }
    }

    .card__order-link {
        color: $color-heading;
    }
}

.list__info-order {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    li {
        padding: 0 8px 8px 0;
        flex: 0 1 auto;

        .icon {
            display: inline-block;
            color: $color-primary;
            margin-right: 4px;
        }

        .text {
            font-size: 12px;
        }
    }
}