.container {
    padding: 20px 15px;
}

.rounded-20 {
    border-radius: 20px !important;
}

.text__link {
    position: relative;
}

.label__custom {
    border-radius: 15px;
    background-color: $color-primary;
    padding: 4px 12px;
    font-size: 12px;
    color: #FFFFFF;
}