.container {
    padding: 20px 15px;
}

.rounded-20 {
    border-radius: 20px !important;
}

.text__link {
    position: relative;
}

.label__custom {
    display: inline-block;
    border-radius: 15px;
    background-color: $color-primary;
    padding: 4px 12px;
    font-size: 12px;
    color: #FFFFFF;
}

.back__to-link {
    font-size: 16px;
    color: #FFFFFF !important;

    &:hover {
        color: $color-primary !important;
    }
}

.alert__box {
    padding: 12px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;

    &.danger {
        background-color: rgb(248, 110, 110);
    }

    &.info {
        background-color: rgb(110, 170, 248);
    }

    &.success {
        background-color: rgb(94, 184, 106);
    }
}