.container {
    padding: 20px 15px;
}

.rounded-20 {
    border-radius: 20px !important;
}

.text__link {
    position: relative;
}

.label__custom {
    display: inline-block;
    border-radius: 15px;
    background-color: $color-primary;
    padding: 4px 12px;
    font-size: 12px;
    color: #FFFFFF;
}

.back__to-link {
    font-size: 16px;
    color: #FFFFFF !important;

    &:hover {
        color: $color-primary !important;
    }
}