.booking__page-head {
    text-align: center;
}

.notif__page-body {
    text-align: center;
    padding-top: 30px;

    .notif__page-image {
        width: 280px;
        margin-bottom: 15px;
    }

    .notif__page-title {
        margin-bottom: 4px;
    }
}