.profile__content-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.profile__content-name {
    margin-bottom: 4px;
}

.profile__content-type {
    color: $color-primary;
}

.list__total {
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: center;

    li {
        flex: 0 1 auto;
        padding: 0 20px;
        border-right: 1px solid $color-primary;
        text-align: center;

        &:last-child {
            border-right: 0;
        }
    }

    .list__total-number {
        font-size: $size-h3;
        display: block;
    }

    .list__total-label {
        color: $color-primary;
    }
}