$color-orange-primary: #FFB250;
$color-orange-secondary: #DC963C;

$color-purple-primary: #664A7B;
$color-purple-secondary: #8660A2;

$color-black-primary: #272727;
$color-black-secondary: #5a5a5a;

$color-heading: $color-black-primary;
$color-body: $color-black-secondary;

$color-primary: $color-orange-primary;
$color-secondary: $color-purple-primary;