@for $i from 0 through 10 {
    .padding-top-#{$i*4} {
        padding-top: #{$i*4}px;
    }

    .padding-bottom-#{$i*4} {
        padding-bottom: #{$i*4}px;
    }

    .margin-top-#{$i*4} {
        margin-top: #{$i*4}px;
    }

    .margin-bottom-#{$i*4} {
        margin-bottom: #{$i*4}px;
    }
}